button {
    background: linear-gradient(to left, #2A1257, #23748F);
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 100%;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Comic Neue', cursive;
    transition: transform .2s;
    box-shadow: 5px 4px 10px black;
    letter-spacing: 1px;

    &:focus {
        outline: none;
    }

    &:hover {
        transform: scale(1.02);
    }
}

input, select {
    border: none;
    border-bottom: 2px solid black;
    background: lightblue;
    display: flex;
    justify-content: center;
    height: 40px;
    width: auto;
    font-size: 25px;
    align-items: center;
    font-family: 'Comic Neue', cursive;
    color: black;
    box-sizing: border-box;
    letter-spacing: 1px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: grey;
    }

    option {
        cursor: pointer;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-puits {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background: #F3FCFF;
    width: 100px;
}

.btn-firstpage {
    height: 60px;
    width: 120px;
    font-size: 30px;
    border-radius: 20px;
}

.input-rune {
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
    background: #F3FCFF;
    padding-left: 10px;
    width: 180px;
}

.input-times {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background: #F3FCFF;
    width: 50px;
}

.select-success {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background: #F3FCFF;
}

.btn-final {
    position: absolute; top: 150px; right: 30%;
}