.remove-pointer {
    pointer-events: none;
}

.search-element {
    display: flex;
    margin: 5px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    flex-direction: column;
    transition: transform .2s;
    background: #F3FCFF;
    box-shadow: 5px 5px 10px black;
    
    p {
        font-size: 11px;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
    }

    &:hover {
        transform: scale(1.05);
    }
}

.puits-div-1 {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.puits-div {
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

    .general-puits {
        position: absolute;
        top: -48px;
        margin: 0;
        box-shadow: 5px 4px 20px black;
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
        background: linear-gradient(to left, #2A1257, #23748F);
        font-size: 90px;
    }
}

.all-firstpage {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;

}

.all-secondpage {
    display: flex;
    width: 50%;
    justify-content: space-around;
    position: absolute; top: 150px; left: 5%;

    .all-search-runes {
        display: flex;
        flex-direction: column;

        .search-runes {
            display: flex;
            justify-content: center;
            width: 270px;
            flex-wrap: wrap;
        }
    }
}

.informations {
    position: absolute; top: 150px; right: 0;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 18px;
        margin: 20px;
        display: flex;
        align-items: center;
    }
}

.inside-infos {
    max-height: 200px;
    overflow-y: auto;
    letter-spacing: 0px;
}

.inside-infos::-webkit-scrollbar-track, .runes-used::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.inside-infos::-webkit-scrollbar, .runes-used::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.inside-infos::-webkit-scrollbar-thumb, .runes-used::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.runes-used {
    position: absolute; top: 30%;
    z-index: 10;
    width: 490px;
    max-height: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    background: #DFF7FF;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    display: none;
    overflow-y: auto;

    .btn-used {
        position: absolute; top: 5px; right: 5px;
        padding: 3px;
    }

    p {
        cursor: pointer;
        width: 118px;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        text-transform: uppercase;
        transition: transform .2s;
        font-weight: bold;
        background: #F3FCFF;
        display: flex;
        justify-content: center;
        box-shadow: 5px 5px 12px grey;

        &:hover {
            transform: scale(1.1)
        }
    }
}

.show-runes-used {
    position: absolute; top: 0px; left: 9%;
}

.write-puits {
    font-size: 30px;
    font-weight: bold;
}

.firstpage-flex {
    display: flex;
    align-items: center;
    width: auto;
    height: 40px;
}

.before-input {
    font-size: 25px;
    height: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.after-input {
    font-size: 25px;
    margin: 0;
}

.width-runes {
    width: 270px;
}

.historique {
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.empty-historique {
    font-size: 20px;
    letter-spacing: 4px;
}